.doings {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.doings {
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
}

.doing-list {
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.doing-list {
  &__item {
    position: relative;
  }
}

.doings-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.doings {
  &__thumb {
    position: absolute;
    bottom: 3.5px;
    margin: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.doings {
  &__label {
    margin: 0;
    padding: 27px 82px 27px 83px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $background-color;
  }
}
