.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.carts {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 20px;

  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.examples-link {
  display: block;
  text-decoration: none;
}

.examples-item {
  .link-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
  }
}

.examples-item {
  .link-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

.over-container {
  position: relative;
  overflow: hidden;
}

.over-portfolio {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: 250ms ease;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.over-text {
  margin: 0;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: $background-color;
}

.examples-link:hover .over-portfolio {
  transform: translatex(0);
}

.examples-link:focus .over-portfolio {
  transform: translatex(0);
}
