.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  z-index: 3;

  transition: opacity $duration $timing-function;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  background-color: $text-hero-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform $duration $timing-function;
}

.modal {
  &__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    left: auto;
    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $text-hero-color;
    color: #000000;

    transition: color $duration $timing-function;
  }
}

.modal__button-close:hover,
.modal__button-close:focus {
  color: $acent-color;
}

.modal {
  &__icon-close {
    fill: currentColor;
  }
}

.modal-form {
  margin: 40px;
}

.modal-form {
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;

    color: var(--title-text-color);
  }
}

.modal-lable {
  display: block;
  margin-bottom: 10px;
}

.label-content {
  display: block;
  height: 14px;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}

.input-container {
  position: relative;
}

.feedback-input,
.modal-input {
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
}

.modal-input {
  height: 40px;
  padding-left: 42px;

  transition: border-color $duration $timing-function;
}

.modal-input:focus {
  border-color: $acent-color;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-color: inherit;
  fill: #000000;

  transition: fill $duration $timing-function;
}

.modal-input:focus + .modal-icon {
  fill: $acent-color;
}

.feedback-input {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.feedback-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.feedback-input:focus {
  border: 1px solid $acent-color;
}

.feedback-lable {
  display: block;
  margin-bottom: 20px;
}

.checkbox-container {
  position: relative;
  margin-bottom: 30px;
  padding-left: 36px;
}

.chekbox-content {
  height: 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.modal-checkbox::after {
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;

  width: 16px;
  height: 15px;

  background-color: $background-color;
  border-color: var(--title-text-color);

  background-image: url(../images/box.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;

  transition: background-color $duration $timing-function,
    border-color $duration $timing-function;
}

.checkbox-input:focus + .modal-checkbox::after {
  border: 2px solid $acent-color;
  border-radius: 2px;
  background-image: none;
}

.checkbox-input:checked + .modal-checkbox::after {
  background-color: $acent-color;
  background-image: url(../images/check.svg);
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.contract-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $acent-color;
}

.modal-button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  background-color: $acent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0);
  outline: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  text-align: center;
  letter-spacing: 0.06em;

  color: $background-color;

  transition: background-color var(--duration) var(--timing-function);
}

.modal-button:focus,
.modal-button:hover {
  background-color: $acent-color;
}
