.team {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: $secondary-bg-color;
}

.team-list {
  display: flex;
}

.team-list {
  &__item {
    max-width: 270px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team-list {
  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.team-list {
  &__title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $title-text-color;
  }
}

.team-list {
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $primary-text-color;
  }
}

.social-team {
  &__list {
    display: flex;
    margin-left: 32px;
    margin-top: 16px;
    margin-bottom: 30px;
    margin-right: 32px;
  }
}

.social-team {
  &__link {
    display: inline-block;
    width: 44px;
    height: 44px;

    color: #afb1b8;

    border-radius: 50%;
  }
}

.social-team__link:hover,
.social-team__link:focus {
  background-color: $acent-color;
  color: $background-color;
}

.social-team {
  &__icons {
    width: 20px;
    height: 20px;
    margin: 12px;
    fill: currentColor;
  }
}

.social-team {
  &__item:not(:last-child) {
    margin-right: 10px;
  }
}
