body {
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1;
  height: 1;
  margin: -1px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
