$acent-color: #2196f3;
$background-color: #ffffff;
$primary-text-color: #757575;
$activ-button-color: #2196f3;
$title-text-color: #212121;
$text-hero-color: #ffffff;
$border-example-color: #eeeeee;
$secondary-bg-color: #f5f4fa;
$primary-fill-color: #afb1b8;
$checked-button-color: #188ce8;
$network-bg-color: rgba(255, 255, 255, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
